.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.desc {
  width: 60%;
  margin-inline: 20px;
}

.desc h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
  color: #ffffff;
  font-family: qanelasRegular;
  margin-bottom: 15px;
  margin-top: 10px;
}

.desc h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  color: #5855e2;
  font-family: qanelasMedium;
  margin-bottom: 10px;
}

.desc h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  color: white;
  font-family: qanelasRegular;
}

.desc p {
  font-family: qanelasLight;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.719);
  margin-top: 26px;
  width: 705px;
  line-height: 26px;
}

.letstalk {
  display: flex;
  background: #5855e2;
  box-shadow: 0px 4px 35px rgba(12, 116, 168, 0.4);
  border-radius: 50px;
  width: max-content;
  padding-block: 8px;
  padding-inline: 25px;
}

.letstalk img {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.letstalk div {
  font-family: qanelasMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  color: #ffffff;
}

.connectContainer {
  display: flex;
  margin-top: 46px;
}

.connectContainer h6 {
  font-family: qanelasLight;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  margin-block: auto;
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.soc {
  margin-block: auto;
}

.soc img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.onboardingLogo {
  width: 510px;
  height: 505px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: 20px;
}

.cn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cn h2 {
  font-weight: 800;
  margin-bottom: 5px;
}

.skills {
  display: flex;
  font-family: qanelasMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
}

.skills img {
  width: 82px;
}
