.navcontainer {
  padding-top: 10px;
}

.navelement {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  padding: 8px 50px 8px 50px;
}

.kemkerlogocontainer img {
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
}

.kemkerlogocontainer {
  display: flex;
  color: rgb(0, 0, 0);
  font-family: poppins;
  z-index: 5;
}

.kemkerlogocontainer div {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.kemkerlogocontainer div:hover {
  color: rgb(0, 0, 0);
  transition-duration: 250ms;
}

.linkcontainer {
  z-index: 6;
  text-align: center;
}

.linkcontainer a {
  // padding-left: 29px;
  margin-left: 29px;
  font-family: qanelasRegular;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.linkcontainer a:hover {
  // color: rgb(157, 157, 157);
  transition-duration: 250ms;
}

.cv {
  padding: 10px 15px;
  border-radius: 30px;
  background: #5855e2;
  text-align: center;
  font-family: qanelasMedium;
  font-weight: 800;
  // border: 1px solid red;
}

.cv:hover {
  background: cornflowerblue;
  transition-duration: 250ms;
  color: white;
}
